@charset "UTF-8";

.section {
    padding: 80px 0;
}

.container {
    max-width: 1520px;
}

.nav-menu {
    transition: all 0.3s ease;
}

.nav-menu.is-scrolling,
.nav-menu.menu-is-open {
    background-color: rgb(74, 13, 143);
    background: -moz-linear-gradient(135deg, rgb(74, 13, 143) 0%, rgb(250, 42, 143) 100%);
    background: -webkit-linear-gradient(135deg, rgb(74, 13, 143) 0%, rgb(250, 42, 143) 100%);
    background: linear-gradient(135deg, rgb(74, 13, 143) 0%, rgb(250, 42, 143) 100%);
    -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

.nav-menu.is-scrolling {
    padding: 0;
}

.navbar-nav .nav-link {
    position: relative;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        font-size: 14px;
    }
}

@media (max-width:991px) {
    .navbar-nav.is-scrolling {
        padding-bottom: 1rem;
    }
    .navbar-nav .nav-item {
        text-align: center;
    }
}


/* HERO
----------------------*/

header {
    padding: 100px 0 0;
    text-align: center;
    color: #FFF;
}

.bg-gradient {
    background-image: -moz-linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    background-image: -ms-linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    background-image: linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
}

.tagline {
    font-size: 23px;
    font-weight: 300;
    color: #ffb8f6;
    max-width: 800px;
    margin: 0 auto;
}

.img-holder {
    height: 0;
    padding-bottom: 33%;
    overflow: hidden;
}

@media (max-width:1200px) {
    .img-holder {
        padding-bottom: 50%;
    }
}

@media (max-width:767px) {
    .tagline {
        font-size: 17px;
    }
    .img-holder {
        padding-bottom: 100%;
    }
}



/* -------------------------------------------- */
/* -------------------------------------------- */

body {
    font-family: 'Muli', sans-serif;
}
a {
    color: #5B5B5B;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

a:hover {
    color: #FF3E56;
    text-decoration: none;
}

.container {
    max-width: 1578px;
}

#navbar {
    margin-left: 250px;
}
.nav-menu {
    padding: 0;
    background: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(239,239,239,0.50);
}

.navbar-dark .navbar-nav .nav-link {
    color: #5B5B5B;
    font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #FF3E56;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #FF3E56;
}

.navbar-nav>.nav-item>.nav-link.active:after {
    content: "";
    background-color: #FF3E56;
    width: 5px;
    height: 5px;
    bottom: 0;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    margin-left: -2.5px;
}

.search-bar {
    display: flex;
}

.search-bar input[type=button] {
    background: #FF3E56;
    box-shadow: 0 2px 10px 0 #FFA9B4;
    border-radius: 2px;
    border: none;
    color: #FFF;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 25px;
    cursor: pointer;
}

.search-bar input[type=text] {
    opacity: 0.2;
    border: 1px solid #6B9DA8;
    border-radius: 2px;
    width: 336px;
    background: url('../images/ico-search.svg') no-repeat;
    padding-left: 35px;
    background-size: 14px;
    background-position: 13px;
    font-size: 14px;
    color: #7F7F7F;
}
.flash-offer-png {
    padding-left: 25px;
    padding-right: 25px;
}
.menu-icon {
    font-weight: 600;
    font-size: 15px;
    color: #4A4A4A;
    text-align: left;
    display: block;
    padding: 10px 0;
}

.header-nav {
    border-bottom: rgba(155,155,155,.2) solid 2px;
}
.header-nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
}
.header-nav ul li {
    text-align: center;
    display: list-item;
    padding: 15px 36px;
}
.header-nav ul li a{
    display: block;
    color: #4A4A4A;
}
.header-nav ul li a span{
    display: block;
    width: 100px;
    text-align: center;
    font-size: 13px;
}
.header-nav ul li a span.img-box {
    height: 50px;;
}

.header-banner {
    height: 670px;
    background: url('../images/header-img.png') no-repeat;
}
.header-banner h1 {
    font-family: Muli;
    font-size: 40px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    font-weight: 900;  
    margin-bottom: 4rem;
    margin-top: 70px;
}

.header-banner .search-form {
    background: #FFFFFF;
    border-radius: 4px;
    display: inline-flex;
    padding: 5px;
}
.header-banner input[type=button] {
    background: #FF3E56;    
    border-radius: 2px;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    border: none;
    padding: 12px 18px;
}
.header-banner input[type=text] {
    opacity: 0.5;
    font-size: 16px;
    color: #221E1E;
    letter-spacing: 0;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    width: 540px;
}
.header-banner select {
    background: #F3F3F3;
    border-radius: 2px;
    font-weight: 300;
    font-size: 16px;
    color: #221E1E;
    letter-spacing: 0;
    border: none;
    width: 113px;
    padding-left: 15px;
    text-align: left;
}

.header-banner p {
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.product-section-wrapper {
    background: #FBFBFB;
}
.product-section {
    margin-bottom: 80px;
}
.product-section h2{
    font-weight: 600;
    font-size: 22px;
    color: #000000;
    text-align: left;
    margin-bottom: 2.5rem;
}
.product-section h2 img{ 
    padding-left: 10px;
}
.product-section .product-wrapper a{
    display: flex;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 14px;
    padding: 0 20px;
    height: 122px;
    margin-bottom: 30px;
}
.product-section .img-wrap{
    width: 40%;
    text-align: center;
}
.product-section .img-wrap img{
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}
.product-section .title-wrap{
    text-align: center;
    line-height: 120px;
    width: 60%;
    font-weight: 600;
    font-size: 16px;
    color: #221E1E;
    letter-spacing: 0;
}

.load-more-wrapper {
    display: block;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 25px;
    padding: 14px;
    text-align: center;
}
.load-more-wrapper span{
    font-weight: 600;
    font-size: 16px;
    color: #FF3E56;
    letter-spacing: 0;
}
.load-more-wrapper img{
    padding-left: 5px;
}

.add-section {
    padding-top: 66px;
    padding-left: 32px;
    padding-right: 32px;
}
.add-block {
    margin-bottom: 35px;
}
.add-block .inner img{
    width: 100%;
}
.add-block .related-topic{
    background-image: linear-gradient(-225deg, #0BB5E8 0%, #057FCD 100%);
}
.add-block .related-topic h6{
    opacity: 0.4;
    font-weight: 600;
    font-size: 10px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin: 0;
    display: block;
    padding-left: 20px;
    padding-top: 20px;
}
.add-block  ul{
    margin:0;
    padding: 0;
}
.add-block .related-topic ul li{
    list-style: none;
    margin: 0;
    padding: 0 20px;
}
.add-block .related-topic ul li:last-child a{
    border-bottom: none;
}
.add-block .related-topic ul a{
    display: block;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 0;
    cursor: pointer;
    background: url(../images/arrow-next.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 21px;
}
.add-block .related-topic ul a:hover{
    color: #FFFFFF;
}
.add-block img {
    width: 100%;
}
